<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donors List</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/images/logo.png" alt="Blood Bank Logo">
            <h1>Blood Bank</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/index"> Home </a></li>
                <li><a href="/blood_availability">🩸 Blood Availability</a></li>
                <li><a href="/request_blood">📝 Request Blood</a></li>
                <li><a href="/donor_registration">❤️ Donor Registration</a></li>
                <li><a href="/donors_list">📋 Donors List</a></li>
                <li><a href="/contact">📞 Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="donor-list-container">
        <h2>Donors List</h2>
        <table class="donor-list-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Blood Group</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for donor in donors %}
                <tr>
                    <td>{{ donor.name }}</td>
                    <td>{{ donor.blood_group }}</td>
                    <td>{{ donor.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
